label.error {
    color: red;
    font-size: 12px;
}

.btn-xs {
    padding: 0.1rem 0.4rem;
    font-size: 0.8rem;
    border-radius: 0.3rem;
}

/* Dashboard Card Styling */
.dashboard-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dashboard-icon i {
    color: #fff !important;
}

.dashboard-card-heading {
    font-size: 15px !important;
}

.dashboard-count {
    font-size: 2.25rem !important;
    font-weight: normal !important;
}